
.App{
    background-repeat: no-repeat;
    background-image: url(./aruna.jpg);
    background-size: cover;
    height: 500px;
    opacity: 0.7;
    margin: 40px;
    border-radius: 30px;
    color: darksalmon;
}

.App-header{
    padding-top: 20px;
    margin: 30px auto;
    
}

.App-logo{
    max-width: 100px;
    display: block;
    margin: 0px auto;
}

h1{
    font-size: 40px;
    text-align: center;
    color: tomato;
    
}
